* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

a {
    text-decoration: none;
}

.d-flex {
    display: flex;
    flex-wrap: wrap;
}

header {
    background-color: transparent;
    width: 100%;
    position: fixed;
    position: absolute;
    z-index: 1;
}

header .boxes {
    margin: auto;
    width: 90%;
    align-items: center;
}

header .boxes .logo {
    width: 20%;
}

header.boxes .logo img {
    width: 100%;
    font-size: 100px;
}

header .boxes .nav-menu {
    width: 80%;
}

header .boxes .nav-menu ul {
    justify-content: flex-end;
    list-style: none;
    align-items: center;
}

header .boxes .nav-menu ul li a {
    color: white;
    text-decoration: none;
    padding: 50px 25px;
    display: inline-block;
    font-weight: 500;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}

#welcome {
    width: 100%;
    height: 120vh;
    background-image: url(../photo/header-bg.jpg);
    background-repeat: no-repeat;
    background-size: 100%;
    position: relative;
}

#welcome .box {
    text-align: center;
    position: absolute;
    top: 40%;
    left: 25%;
    transform: translate(-50% -50%);


}

#welcome .box h1 {
    color: white;
    font-size: 2.25rem;
    font-style: italic;
    line-height: 2.25rem;
    margin-bottom: 2rem;
    font-weight: bolder;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}

#welcome .box h6 {
    font-size: 4.5rem;
    font-weight: 700;
    line-height: 4.5rem;
    margin-bottom: 4rem;
    color: white;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;

}
#welcome .box a{
    font-weight: bold;
    font-size: 1.125rem;
    background-color: #ffc800;
    border-color: #000000;
    color: white;
    vertical-align: middle;
    padding: 1.25rem 2.5rem;
    border-radius: 0.25rem;
    transition: color 0.15s ease-in-out, background-color 0.15s ease-in-out, border-color 0.15s ease-in-out, box-shadow 0.15s ease-in-out;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}
#welcome .box a:hover{
    background-color: #d9aa00;
   
}
#services{
    width: 100%;
}
#services .headtext{
    text-align: center;
    margin-top: 70px;
    line-height: 50px;
}
#services .headtext h2{
    font-size: 3rem;
    font-weight: 700;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}
#services .headtext h3{
    font-size: 1.5rem;
    font-weight: 400;
    font-style: italic;
    font-family: "Roboto Slab", -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, "Helvetica Neue", Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", "Noto Color Emoji";
}
#services .boxtext{
    width: 80%;
    margin: auto;
    line-height: 30px;
    padding-top: 75px;
}
#services .boxtext .box{
    width: 30.33%;
    text-align: center;
}
#services .boxtext .box .icon i{
    font-size: 80px;
    color: white;
    

}
#services .boxtext .box .icon{
    background-color: #d9aa00;
    width: 10%;
    display: flex;
    justify-content: center;
   
   
}